body {
  margin: 0;
  font-family: monospace;
  font-size: 1em;
}

#wrapper {
  display: flex;
  top: 0;
  left: 0;
}

#instructions {
  padding: 10px 20px;
  width: 12%;
  height: 100%;
  font-size: 110%;
}

#results {
  padding: 20px;
  width: 12%;
  height: 100%;
  font-size: 110%;
}

.playerOne {
  color: rgb(255, 118, 0);
}
.playerTwo {
  color: rgb(0, 108, 255);
}

#winner {
  font-weight: bold;
}

#gameArea {
  display: flex;
  width: 76%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#gameBoard {
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: rgb(200, 200, 200);
  border-radius: 6px;
}

#columnHeaders {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
}
#columnHeaders .headerText {
  position: relative;
  padding: 12px 4px;
  margin: 0;
  text-align: center;
  font-size: 110%;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
}

.token {
  z-index: 1;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2), 0 3px 6px rgba(0,0,0,0.2);
}

#grid .cell {
  display: flex;
  margin: 2px 4px;
  overflow: hidden;
  word-break: break-word;
  hyphens: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 6px;
  background-color: rgb(230, 230, 230);
  background-position: center;
  background-repeat: no-repeat;
}

/*cell 'types'*/
#grid .free {
  background-size: 60%;
  background-image: url('/assets/icons/free.svg');
}

/* #grid .virus {
  background-color: rgb(210, 230, 230);
}
#grid .microbe {
  background-color: rgb(230, 210, 230);
}
#grid .parasite {
  background-color: rgb(230, 230, 210);
}

#grid .air {
  background-color: rgb(180, 230, 230);
}
#grid .place {
  background-color: rgb(230, 180, 230);
}
#grid .water {
  background-color: rgb(230, 230, 180);
}

#grid .mask {
  background-color: rgb(210, 210, 230);
}
#grid .wash {
  background-color: rgb(230, 210, 210);
}
#grid .people {
  background-color: rgb(210, 230, 210);
}
#grid .fever {
  background-color: rgb(180, 180, 230);
}
#grid .net {
  background-color: rgb(230, 180, 180);
}
#grid .spray {
  background-color: rgb(180, 230, 180);
}
#grid .clothes {
  background-color: rgb(210, 210, 180);
}
#grid .clean {
  background-color: rgb(180, 210, 210);
}
#grid .vomit {
  background-color: rgb(210, 180, 210);
}
#grid .boil {
  background-color: rgb(180, 180, 140);
}
#grid .avoid {
  background-color: rgb(140, 180, 180);
}
#grid .aches {
  background-color: rgb(180, 140, 180);
}
#grid .skin {
  background-color: rgb(140, 140, 210);
}

#grid .contact {
  background-color: rgb(140, 230, 230);
}
#grid .insect {
  background-color: rgb(230, 140, 230);
}
#grid .bad {
  background-color: rgb(230, 230, 140);
} */

/* #restart {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: rgb(40, 40, 40);
  border-radius: 6px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
}
#restart:hover {
  background-color: rgb(0, 0, 0);
}
#restart:active {
  opacity: 0;
  transition: all 0.6s;
} */
