html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-size: 0.86em;
  background-color: rgb(215, 238, 244);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('assets/other/background_04.svg');
  /* overflow: auto; */
}

#rotatePrompt {
  display: flex;
}

#startScreen {
  display: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('assets/other/background_04.svg');
}

.bigDiv {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 150%;
  color: rgb(0, 0, 0);
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(215, 238, 244);
}
.bigDivText {
  padding: 20%;
}
.startScreenText {
  margin-top: 0;
  margin-bottom: 40px;
}

.playButton {
  width: 160px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 30px;
  /* font-family: 'Boogaloo', sans-serif; */
  font-size: 120%;
  font-weight: 700;
}
.playButton:hover {
  cursor: pointer;
}

#lockScreen {
  z-index: 1;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

#folder {
  position: relative;
  width: 560px;
  aspect-ratio: 5/3;
  font-size: 110%;
  color: rgb(0, 0, 0);
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('assets/other/folder.svg');
  overflow: hidden;
  scrollbar-color: rgb(60, 60, 60) transparent;
}
#folderImage {
  position: absolute;
  top: 66px;
  right: 72px;
  width: 164px;
  height: 164px;
}
.h1 {
  font-size: 280%;
  font-weight: 700;
  text-transform: capitalize;
}
.folderText {
  padding: 20px 45% 0 44px;
}
.button {
  position: absolute;
  width: 32px;
  height: 32px;
  /* background-color: rgba(0, 0, 0, 0.4); */
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  border: none;
  border-radius: 50%;
}
.button:hover {
  cursor: pointer;
}
#closeButton {
  top: 6px;
  right: 5px;
}

#bugInfoBoard {
  display: none;
  position: relative;
  height: 88%;
  aspect-ratio: 3/2;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}
#closeButton2 {
  top: 4%;
  right: 3%;
}

.topGameArea {
  display: flex;
  flex: 2 0 auto;
  width: 100%;
  padding-top: 6px;
  justify-content: center;
}
.topGameArea > span {
  min-width: 26px;
  margin-bottom: -16px;
  font-size: 200%;
  font-weight: 700;
  text-align: center;
}
#infoButton {
  /* position: absolute; */
  /* top: 10px; */
  right: 30px;
  background-image: url('assets/icons/info.svg');
}
#p1Points {
  color: rgb(213, 94, 0);
}
#p2Points {
  color: rgb(0, 114, 178);
}

.bottomGameArea {
  display: flex;
  flex: 2 0 auto;
  width: 100%;
  padding-top: 8px;
  justify-content: center;
}
.playerMoves {
  display: flex;
  font-size: 200%;
  font-weight: 700;
  color:rgb(140, 140, 140);
}
.playerMoves > span {
  min-width: 30px;
  text-align: center;
}
.logoSmall {
  width: 180px;
  margin-top: -12px;
  padding: 0 40px;
}

#gameArea {
  display: none;
  flex-direction: column;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  align-items: center;
}

#gameBoard {
  /* width: 1200px;
  flex: 0 0 530px; */
  width: 90%;
  flex: 0 0 60%;
  /* border-radius: 10px; */
}

#columnHeaders {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
}
#columnHeaders .headerText {
  position: relative;
  padding: 0 4px 12px;
  margin: 0;
  text-align: center;
  /* font-size: 110%; */
  font-size: 90%;
  font-weight: 700;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
}

.token {
  z-index: 1;
  position: absolute;
  border-radius: 50%;
  border: 4px solid transparent;
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.2), 0 3px 6px rgba(0,0,0,0.2); */
  background-size: 100%;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  /* background-image: url('assets/other/token.svg'); */
}

#grid .cell {
  display: flex;
  margin: 4px 4px;
  overflow: hidden;
  word-break: break-word;
  hyphens: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 2px 4px rgba(0,0,0,0.2);
  /* border: 2px solid rgb(200, 200, 200); */
  border-radius: 50%;
  background-size: 100%;
  background-color: transparent;
  /* background-color: rgb(255, 255, 255); */
  background-position: center;
  background-repeat: no-repeat;
  user-select: none;
  /* -webkit-user-select: none; */
}
#grid .cellMask {
  display: none;
  /* flex-direction: column; */
  width: 100%;
  height: 100%;
  /* padding: 2px; */
  /* justify-content: center;
  align-content: center; */
  /* color:rgba(0, 0, 0, 0); */
  background-color: rgba(255, 255, 255, 0.84);
  /* pointer-events: none; */
}
/* #grid .cellHome {
  color:rgba(0, 0, 0, 0);
  font-size: 200%;
  font-weight: 700;
} */
/* add hover effect to button on hover enabled devices only */
/* @media (hover: hover) {
  #grid .cellOther:hover .cellText {
    display: flex;
  }
} */
/* #grid .cellFlash {
  transition: background-color 0.4s linear;
  animation: flash 0.8s 0.4s 1;
} */
/* @keyframes flash {
  50% {
    background-color:rgb(230, 230, 230);
  }
} */

/* modifiers for larger screens (e.g. tablet) in landscape mode */
/* @media only screen and (min-width: 941px) and (max-width: 1279px) {
  html,
  body {
    font-size: 0.97em;
  }

  #instructions {
    width: 80%;
  }

  #columnHeaders .headerText {
    font-size: 100%;
  }

  .playButton {
    width: 160px;
    height: 60px;
  }
} */

/* modifiers for biggest screens (e.g. laptops) */
@media only screen and (min-width: 1280px) {
  html,
  body {
    font-size: 1em;
  }

  .startScreenText {
    padding-left: 20%;
    padding-right: 20%;
  }

  .playButton {
    width: 220px;
    height: 60px;
  }

  .button {
    width: 44px;
    height: 44px;
  }

  #folder {
    width: 900px;
  }
  #folderImage {
    top: 106px;
    right: 116px;
    width: 264px;
    height: 264px;
  }
  .folderText {
    padding: 40px 45% 0 70px;
  }
  #closeButton {
    top: 13px;
    right: 12px;
  }

  #bugInfoBoard {
    height: 700px;
  }
  #closeButton2 {
    top: 38px;
    right: 38px;
  }

  .topGameArea {
    padding-top: 40px;
  }
  .topGameArea > span {
    min-width: 40px;
    margin-top: auto;
    font-size: 220%;
  }

  .bottomGameArea {
    padding-top: 40px;
  }

  .logoSmall {
    width: 300px;
    margin-top: -24px;
    padding: 0 60px;
  }

  #gameBoard {
    width: 1200px;
    flex: 0 0 auto;
  }

  #columnHeaders .headerText {
    padding: 0 4px 22px;
    font-size: 120%;
  }
}
