html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
}

#lockscreen {
  z-index: 1;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
}

#instructions {
  position: relative;
  width: 800px;
  height: 75%;
  padding: 2% 3%;
  font-size: 110%;
  color: rgb(255, 255, 255);
  /* background-color: rgb(219, 247, 194); */
  background-color: rgba(0, 0, 0, 0.88);
  border-radius: 10px;
  overflow-y: auto;
  scrollbar-color: rgb(60, 60, 60) transparent;
}
/* #instructionsTop {
  display: flex;
  justify-content: right;
  width: 100%;
} */

.button {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  border: none;
  border-radius: 50%;
}
.button:hover {
  cursor: pointer;
}

#closeButton {
  /* position: fixed; */
  top: 20px;
  right: 20px;
  background-image: url('assets/icons/close.svg');
}

#infoButton {
  /* position: absolute; */
  bottom: 20px;
  right: 20px;
  background-image: url('assets/icons/info.svg');
}

#gameArea {
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  height: 100%;
  align-items: center;
}

#topdiv {
  display: flex;
  flex: 2 0 60px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.gameTitle {
  font-size: 140%;
  font-weight: bold;
}

#stats {
  display: flex;
  flex: 1 0 60px;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 120%;
}
#statsPlayerOne {
  flex: 1 0 60px;
  padding-right: 16px;
  text-align: right;
  visibility: hidden;
  color:rgb(90, 90, 90);
}
#playerOne {
  color: rgb(255, 118, 0);
  text-decoration: none;
}
.statsCenter {
  padding: 0 12px;
  text-align: center;
}
#statsPlayerTwo {
  flex: 1 0 60px;
  padding-left: 16px;
  visibility: hidden;
  color:rgb(90, 90, 90);
}
#playerTwo {
  color: rgb(0, 108, 255);
  text-decoration: none;
}

#buttons {
  position: relative;
  flex: 0 0 60px;
  width: 100%;
}

#gameBoard {
  width: 1200px;
  flex: 0 0 530px;
  /* border-radius: 10px; */
}

#columnHeaders {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
}
#columnHeaders .headerText {
  position: relative;
  padding: 12px 4px;
  margin: 0;
  text-align: center;
  font-size: 110%;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
}

.token {
  z-index: 1;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2), 0 3px 6px rgba(0,0,0,0.2);
}

#grid .cell {
  display: flex;
  margin: 2px 4px;
  overflow: hidden;
  word-break: break-word;
  hyphens: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  background-size: 90%;
  background-color: rgb(230, 230, 230);
  background-position: center;
  background-repeat: no-repeat;
  user-select: none;
  /* -webkit-user-select: none; */
}
#grid .cellText {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2px;
  justify-content: center;
  align-content: center;
  color:rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
}
#grid .cellHome {
  font-size: 200%;
  font-weight: bold;
}
#grid .cellOther:hover .cellText {
  display: flex;
}

/* modifiers for tablet (in landscape mode) */
@media only screen and (min-width: 941px) and (max-width: 1279px) {
  html,
  body {
    font-size: 0.97em;
  }

  #instructions {
    width: 80%;
    font-size: 110%;
  }

  #stats {
    flex: 1 0 40px;
    font-size: 130%;
  }

  #gameBoard {
    /* width: 660px;
    flex: 0 0 215px; */
    width: 90%;
    flex: 0 0 60%;
  }

  #columnHeaders .headerText {
    font-size: 100%;
  }
}

/* modifiers for phone (in landscape mode) */
@media only screen and (max-width: 940px) {
  html,
  body {
    font-size: 0.86em;
  }

  /* #lockscreen {
    position: absolute;
  } */

  #instructions {
    width: 92%;
    height: 86%;
    font-size: 110%;
  }

  .button {
    width: 30px;
    height: 30px;
  }

  #topdiv {
    display: none;
  }

  #stats {
    flex: 1 0 40px;
    font-size: 130%;
  }

  #buttons {
    flex: 0 0 16px;
  }

  #gameBoard {
    width: 90%;
    flex: 0 0 60%;
  }

  #columnHeaders .headerText {
    font-size: 90%;
  }
}